#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clock-title {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}

.clock-subtitle {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.45);
  margin: 0 0 1rem 0;
  white-space: pre-line;
  line-height: 1.8;
}

.clock-container button {
  margin-top: 1.5rem;
}

@media screen and (max-width: 660px) {
  .clock-title {
    font-size: 1.9rem;
  }

  .clock-subtitle {
    font-size: 0.8rem;
  }
}